html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
}

#title {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1 {
    margin: 1rem 0.5rem;
    font-family: Helvetica, sans-serif;
}
#title p {
    font-style: italic;
}

#container {
    height: auto;
    width: 100%;
    padding: 24px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
}
.btn {
    width: 5rem;
    height: 5rem;
    font-weight: 700;
    
    border: .15rem solid #333;
    border-radius: .4rem;
    transition: all 0.1s ease;
    color: #eee;
    background: #3b3535bd;
    text-shadow: 0 0 .5rem #222;
}
.playing{
    transform: scale(1.1);
    border-color: #5292f8;
    box-shadow: 0 0 1rem #5292f8d7;
}
.block{
    border: .15rem solid #777;
    color: #eee;
    background: #756d6dbd;
    text-shadow: 0 0 .5rem #555;
}

#score {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#points {
    font-size: 32px;
    font-family: monospace;
}

#result {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-bottom: 16px;
}
#result p {
    font-size: 24px;
    font-weight: 700;
    
}
#result button {
    padding: 10px 18px;
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f7c069;
    color: #333;
    animation: 4s ease-in-out infinite pulse;
}

@keyframes pulse {
    50% {
        border-color: #00000080;
        box-shadow: 0 0 1rem #df5620c4;
    }
}