html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
}

#title {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1 {
    margin: 1rem 0.5rem;
    font-family: Helvetica, sans-serif;
}
#title p {
    font-style: italic;
}

#container {
    height: 20vh;
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
}
.btn {
    width: 5rem;
    height: 5rem;
    font-weight: 700;
    
    border: .2rem solid #333;
    border-radius: .4rem;
    transition: all 0.1s ease;
    color: #eee;
    background: rgba(3,3,3,0.4);
    text-shadow: 0 0 .5rem #222;
}
.playing{
    transform: scale(1.1);
    border-color: #5292f8;
    box-shadow: 0 0 1rem #5292f8d7;
}

#score {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#points {
    font-size: 32px;
    font-family: monospace;
}

#result {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-bottom: 16px;
}
#result p {
    font-size: 24px;
    font-weight: 700;    
}
#result button {
    padding: 12px 20px;
}